.main__content-container {

}

.main__title {

}

.outs-create-out__container {

}

.outs-create-out__form {

}

.outs-create-out-form {

}

.outs-create-out-form__inner-input {

}

.outs-create-out-form__input {

}

.outs-create-out-form__label {

}

.outs-create-out-form__select {

}

.outs-create-out-form__option {

}

.outs-create-out-form__inner-btn {
  display: flex;
}

.outs-create-out-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 30px;

  border: 1px solid black;
  background-color: transparent;
}
