.main__content-container {

}

.main__title {

}

.outs-create-out__container {
  width: 300px;
}

.outs-create-out__form {
  width: 250px;

  margin: 0 auto;
}

.outs-create-out-form {

}

.outs-create-out-form__inner-input {

}

.outs-create-out-form__input {
  display: block;

  width: 100%;
  height: 40px;

  border: 1px solid black;
  border-radius: 0;
}

.outs-create-out-form__label {

}

.outs-create-out-form__select {
  display: block;

  width: 100%;
  height: 40px;

  border: 1px solid black;
  border-radius: 0;

  background-color: white;

  appearance: none;
}

.outs-create-out-form__option {

}

.outs-create-out-form__inner-btn {
  display: flex;
}

.outs-create-out-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 30px;

  border: 1px solid black;
  background-color: transparent;
}
