.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  width: 100%;
  height: 50px;

  background-color: rgb(13, 12, 14);
}

.header__btn-container {
  display: flex;
  justify-content: space-between;

  color: white;
}

.header-btn-container__text {
  display: block;

  margin: 0 10px 0 0;
} 

.header__btn {

}