.icon-container {
  width: 100%;
}

.icon-container ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
}

.icon-container ul li {
  display: block;

  width: calc(100% / 3);
  min-width: 270px;

  font-family: Arial, Helvetica, sans-serif;
}

.icon-container ul li i {
  font-size: 42px;

  cursor: pointer;
}

.icon-container ul li i:hover {
  color: green;
}

.icon-container--hidden {
  display: none;
}