.login-container {
  max-width: 1024px;

  margin: 0 auto;
  padding: 0 20px;
}

.login-container__form {
  width: 400px;

  margin: 100px auto;
  padding: 10px;

  border: 1px solid black;
  border-radius: 10px;

  background-color: white;
}

.login-container__input-container {
  position: relative;

  border: 1px solid black;
  border-radius: inherit;

  margin: 0 0 15px 0;
  padding: 5px;
}

.login-container__lable {
  position: absolute;
  top: calc(50% - (22px / 2));
  left: 7px;

  display: block;

  padding: 0 3px;

  background-color: white;

  transition: top .1s, left .1s;
}

.login-container__input {
  display: block;

  width: 100%;
  height: 40px;

  border: none;
  background: none;

  box-shadow: none;

  outline: none;

  font-size: 22px;
}

.login-container__input:focus + .login-container__lable {
  top: -11px;
  left: 14px;
 
  transition: all .1s;
}

.login-container__input:valid + .login-container__lable {
  top: -11px;
  left: 14px;
 
  transition: all .1s;
}

.login-container__btn {
  display: block;

  width: 200px;
  height: 50px;

  background-color: blue;
  border: 1px solid blue;
  border-radius: inherit;

  color: white;

  font-size: 20px;

  cursor: pointer;

  transition: all .15;
}

.login-container__btn:hover {
 
  background-color: transparent;
  border: 1px solid blue;
  
  color: blue;

  transition: all .15;
}

@media (max-width: 470px) {
  .login-container__form {
    width: 280px;
  }

  .login-container__btn {
    width: 100%;
  }

  .login-container__input {
    height: 30px;
  }
}

.login-container__input-container--error {
  border-color: tomato;
  border-width: 2px;
}