.main {
  display: flex;

  min-height: 100vh;

  padding: 0 20px 0 0;
}

.main__nav-container {
  min-width: 250px;

  padding: 0 0 0 20px;

  background-color: rgb(13, 12, 14);

  color: white;
}

.main__title {
  margin: 20px;

  text-align: center;

  font-size: 25px;
}

.main__content-container {
  flex-grow: 1;
}

.main__content {

}

@media (max-width: 767px) {
  .main {
    margin: 0 0 0 -250px;
    padding: 0;
  }
}

.main--show {
  margin-left: 0;
  overflow: hidden;
}