.register-link {
  
}

.register-link__container {

}

.register-link__form {

}

.register-link__inner {
  width: 200px;

  border: 1px solid black;
}

.register-link-icon {

}

.register-link__input-container {

}

.register-link__label {

}

.register-link__input {

}

.register-link__text-container {

}

.register-link__text {

}

.register-link__btn {

}

.register-link__inner--active {
  background-color: green;
}