.register-link {
  
}

.register-link__container {

}

.register-link__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.register-link__card-container {
  width: 300px;

  margin: 0 0 10px 0;
}

.register-link__inner {
  display: flex;

  width: 250px;
  margin: 0 auto;

  border: 1px solid black;
}

.register-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  font-size: 30px;
}

.register-link__inner-column {

}

.register-link__input-container {

}

.register-link__label {

}

.register-link__input {

}

.register-link__inner:has(.register-link__input:checked) {
  background-color: green;

  color: white;
}

.register-link__text-container {

}

.register-link__text {

}
.register-link__btn-container {
  min-width: 100%;

  margin: 20px 0 0 0;
}

.register-link__btn {
  display: block;

  width: 250px;
  height: 40px;

  margin: 0 auto;
}

.register-link {
  padding: 5px;
}

.register-link__inner--active {
  background-color: green;
}