.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 0 20px 0;
  padding: 5px;

  border: 1px solid black;
}

.user-card__user-container {
  display: flex;

  min-width: 300;
}

.user-card__text {
  display: block;

  margin: 0 10px 0 0;
}

.user-card__btn-container {
  display: flex;
}

.user-card__form {
  margin: 0 10px 0 0;
  padding: 0;
}

.user-card__btn {
  display: block;

  width: 200px;
  height: 30px;

  padding: 0;

  border: 1px solid green;
  background-color: transparent;

  color: green;

  cursor: pointer;
}

.user-card__btn:hover {
  background-color: green;

  color: white;

  transition: all .15s;
}

.user-card__btn--red {
  border-color: red;

  color: red;
}

.user-card__btn--red:hover {
  background-color: red;

  color: white;

  transition: all .15s;
}

.user-card__form:last-child {
  margin: 0;
}

@media (max-width: 1250px) {
  .user-card {
    flex-direction: column;
  }

  .user-card__btn-container {
    justify-content: space-around;

    width: 100%;
  }

  .user-card__user-container {
    min-width: 100%;

    justify-content: space-around;

    margin: 0 0 20px 0;
  }
}

@media (max-width: 920px) {
  .user-card {
    flex-direction: row;
    align-items: stretch;
  }

  .user-card__btn-container {
    flex-direction: column;

    width: 200px;
  }

  .user-card__user-container {
    flex-direction: column;

    min-width: 300px;

    margin: 0;
  }

  .user-card__form {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 550px) {
  .user-card__user-container {
    min-width: 100%;

    margin: 0 0 20px 0;
  }
}

@media (max-width: 340px) {
  .user-card {
    justify-content: center;
  }
}

