.main-home {
  height: 100vh;
  
  padding: 20px;
}

.main-home__container {
  max-width: 1024px;

  margin: 0 auto;
}

.main-home__button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 786px) {
  .main-home {
    padding: 10px;
  }
}

@media (max-width: 340px) {
  .main-home {
    padding: 3px;
  }
}
